body {
  background-color: #add8e6; /* biru muda */
  font-family: Arial, sans-serif; /* Arial atau sans-serif */
}

h1 {
  color: white; /* warna putih */
  font-size: 40px; /* ukuran besar */
}

p {
  background-color: #d3d3d3; /* abu-abu muda */
  color: black; /* teks hitam */
  padding: 20px;
}
